


body {
    background: url('https://toppng.com/uploads/preview/planet-space-outer-space-astronomy-galaxy-universe-11570386002kzxas6oh1z.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

h5 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.add-post-form {
  background-color: whitesmoke;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 500px;
  margin: 20vh auto 0;
  padding: 20px;
}